:root{
    --primary-clr-200: hsl(37, 38%, 87%);
    --accent-clr-400: hsl(35, 30%, 52%);
    --accent-clr-500: hsl(35, 29%, 36%);

    --neutral-clr-100: hsl(48, 100%, 99%);
    --neutral-clr-400: hsla(0, 1%, 73%, 0.824);
    --neutral-clr-900: hsl(0, 0%, 0%);

    --ff-primary: "Lora", serif;

    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fs-accent: 1rem;
    --fs-body: 1.125rem;
    --fs-bbt: 1.25rem;
    --fs-subheading: 2rem;
    --fs-heading: 2.5rem;

    --fw-400: 400;
    --fw-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}
    
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.even-columns{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 3rem;
  line-height: 1.8rem;
}

.text-primary-900{
  color: var(--neutral-clr-900);
}
.text-primary-100{
  color: var(--neutral-clr-100);
}
.text-accent-400{
  color: var(--neutral-clr-400);
}
.bg-clr-200{
  color: var(--primary-clr-200);
}
.btn-clr-400{
  color: var(--accent-clr-400);
}

.fw-heading{font-weight: var(--fw-700);}
.fw-body{font-weight: var(--fw-400);}

.fs-heading{font-size: var(--fs-heading);}
.fs-subheading{font-size: var(--fs-subheading);}
.fs-btt{font-size: var(--fs-bbt);}
.fs-body{font-size: var(--fs-body);}
.fs-accent{font-size:var(--fs-accent);}

.ff-heading{font-family: var(--ff-heading) ;}
.ff-subheading{font-family: var(--ff-heading);}
.ff-body{font-family: var(--ff-body);}

/* General Styles */

html {
  background-color: var(--primary-clr-200);
}
li {
  font-family: var(--ff-body);
  font-size: var(--fs-accent);
  font-weight: var(--fw-700);
}
.container {
  --max-width: 1110px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
.primary-header {
  margin-top: 1rem;
}
/* Primary Navigation */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-toggle {
  display: none;
}
.estate-header {
  display: none;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
}
.nav-list a {
  text-decoration: none;
  color: var(--neutral-clr-900);
  font-size: var(--fs-body);
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

/* Home Page */

/* Section 1 */
.first-pic {
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}
.pic-left {
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}
.about-estate {
  padding: .5rem 0 1rem;
}
.about-links a {
  text-decoration: none;
  color: var(--neutral-clr-400);
}
.about-links a:hover {
  text-decoration: underline;
  color: var(--neutral-clr-900);
}
hr {
  border: none;
  height: 4px;
  border-radius: 10px;
  color: var(--neutral-clr-400);
  background-color: var(--neutral-clr-400);
}
/* Section 2 */
.pic-right {
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}
.left-text {
  margin-top: 3rem;
}
.address {
  padding: 2rem 0;
}
.msg-me {
  color: var(--neutral-clr-100);
  background-color: var(--accent-clr-400);
  border: none;
  border-radius: 10px;
  padding: .7rem 1.5rem;
}
.msg-me:hover {
  cursor: pointer;
  background-color: var(--accent-clr-500);
}
.btt{
  display: flex;
  justify-content: center;
}
.btt a {
  text-decoration: none;
  color: var(--neutral-clr-400);
}

/* Service Page */

/* Section 1 */
.wedding-pic {
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}
.wed-section-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}
.wed-section-one h2 {
  padding: 1rem 0;
}
/* Section 2 */
.int-image {
  margin: 0 auto;
  width: fit-content;
  height: auto;
  border-radius: 20px;
}
.int-text {
  text-align: center;
  padding-top: 1rem;
}
.ext-image {
  margin: 0 auto;
  width: fit-content;
  height: auto;
  border-radius: 20px;
}
.ext-text {
  text-align: center;
  padding-top: 1.2rem;
}
.section-two-subhead {
  padding-bottom: 1rem;
}

/* Contact Page */
.contact-heading{
  text-align: center;
  padding: .5rem 0;
}
.submit-btn {
  color: var(--neutral-clr-100);
  background-color: var(--accent-clr-400);
  border: none;
  border-radius: 10px;
  padding: .7rem 1.5rem;
}
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}
.contact-form h2 {
  margin-bottom: 1rem;
}
.contact-form p {
  margin-bottom: 1rem;
  text-align: center;
}
.contact-input {
  width: 15em;
  height: 2em;
  border: none;
  outline: none;
  font-weight: var(--fw-400);
  font-family: var(--ff-body);
  font-size: var(--fs-accent);
  padding-left: .8rem;
  border-radius: 10px;
}
.contact-form textarea {
  width: 15em;
  height: 6em;
}
.contact-input:focus {
  border: 2px solid rgb(113, 184, 192);
}

/* Gallery Page */
.gallery-header {
  text-align: center;
}
.gallery-body {
  display: flex;
  flex-wrap: wrap;
  /* width: 80vw; */
  padding-top: 2rem;
  justify-content: center;
  gap: .3rem;
}
.gallery-body img {
  width: 24em;
}
@media (max-width: 50em){
  .primary-navigation{
    display: none;

    position: fixed;
    padding: 1.25rem;
    inset: 7rem 1rem auto;
    background: var(--neutral-clr-100);
    border-radius: 2rem;
  }
  .primary-header[data-overlay]::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }
  .nav-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .estate-header{
    z-index: -1;
    display: block;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .primary-navigation[data-visible]{
    display: block;
  }
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    right: 2rem;
    margin: 0;
    width: 1.35em;
    cursor: pointer;
    border: 0;
    background: transparent;
    aspect-ratio: 1;

    background-image: url(../img/hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../img/close.svg);
  }
  .even-columns{
    flex-direction: column;
    text-align: center;
  }
  .wed-section-one{
    margin: 0;
  }
  .gallery-body {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .gallery-body img {
    width: 14em;
    margin: 0 auto;
  }
}